.listings-page{
<<<<<<< HEAD
  background: #1b102d;
=======
  background: #f5f6f7;
>>>>>>> 73bc835fca32e8f1b15321791f5bde72fc544624
  padding-bottom: 30px;
  // "j j k k l l"
  // "m m k k l l"

  .top-text{
<<<<<<< HEAD
    padding: 130px 20px 0px;
    display: flex;
    margin-left: 320px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    h4{
      font-size: 1.3rem;
      color: #fff;
    }
    a{
      padding: 12px 15px;
      background: #777777;
      border-radius: 2px;
      text-transform: capitalize;
      text-decoration: none;
      font-size: 1rem;
      color: #fff;

      &:hover{
        .fas{
          transform: translateX(5px);
        }
      }

      .fas {
        transition: all .3s ease-in-out;
        margin-left: 10px;
      }
    }
  }
  .container{
    background: #1b102d;
    margin: 0 auto;
    width: calc(100% - 320px);
    padding: 70px 0 0;
    margin-left: 320px;
    display: flex;

    .movie-card{
      transition: all .2s ease-out;
      &:hover{
        // background: #404040;
        border-radius: 8px;
        .text{
          color: #fff;
        }
      }
      img{
        transition: all .3s ease-out;
        box-shadow: 1px 5px 16px 1px rgba(0,0,0,.4);
        border-radius: 8px;
=======
    display: none;
  }
  .container{
    background-color: #f5f6f7;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0px;
    display: flex;

    .movie-card{
      transition: all .2s ease-out;
      &:hover{
        background: #404040;
        border-radius: 8px;
        .text{
          color: #fff;
        }
        .fas.fa-plus{
          &:hover{
            color: #fff !important;
          }
        }
      }
      img{
        transition: all .3s ease-out;
        box-shadow: 1px 5px 16px 1px rgba(0,0,0,.4);
        border-radius: 8px;
>>>>>>> 73bc835fca32e8f1b15321791f5bde72fc544624
        &:hover{
          cursor: pointer;
        }
      }
      .small-details{
<<<<<<< HEAD
        color: white;
=======
>>>>>>> 73bc835fca32e8f1b15321791f5bde72fc544624
        display: flex;
        // display: none;
        font-weight: 500;
        padding: 8px 5px 10px;
        align-items: center;
        justify-content: space-between;
<<<<<<< HEAD
=======
        color: #1e1521;
        color: #282828;
>>>>>>> 73bc835fca32e8f1b15321791f5bde72fc544624

        .text{
          display: flex;
          align-items: center;
          #title{
            font-size: .85rem;
          }
          #rating{
            font-size: .85rem;
            margin-right: 8px;
            height: 24px;
            width: 24px;
            border: 3px solid orange;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
          }
        }

        .save{
          display: flex;
          font-size: .75rem;

          p{
            margin-left: 5px;
          }
          .wrap.a{
            position: relative;
            margin-right: 5px;
            color: #a7a7a7;
            transition: all .3s #939393;
            &:hover{
              cursor: pointer;
            }
            .fas{

              &.fa-plus{
                font-size: 15px;
                transition: all .5s ease-out;
                &:hover{
                  transform: scale(1.2);
                  color: #4c4c4c;
                }
              }
            }
          }
          .playlist{
            // visibility: hidden;
            display: none;
            opacity: .5;
            margin-left: 30px;
            position: absolute;
            width: 240px;
            background: #fff;
            border-radius: 8px;
            text-align: left;
            text-transform: capitalize;
            transition: all .5s ease-in-out;
            transform: translateX(120%);

            .close-btn{
              position: absolute;
              background: #fff;
              height: 13px;
              width: 13px;
              border-radius: 50%;
              right: -5px;
              top: -5px;
              &:hover{
                cursor: pointer;
              }
              .fa-times-circle{
                color: #434343;
                font-size: 1.2rem;
                line-height: 15px;
                transform: translate(-3%,-1%);
              }
            }

            .button{
              padding: 5px 0;
              display: flex;
              justify-content: baseline;
              align-items: center;
              background: #9768a8;
              border-radius: 8px 0 0 0;
              .create-btn{
                color: #fff;
                font-size: 1.1rem;
              }
              .wrap.b{
                padding: 8px;
                position: relative;
                text-align: left;
                margin-right: 5px;
                color: #a7a7a7;
                color: #fff;
                &:hover{
                  cursor: pointer;
                }
                .fas{
                  &.fa-plus{
                    text-shadow: -2px -1px  0px #9768a8;
                    position: absolute;
                    z-index: 20;
                    left: 17px;
                    top: 12px;
                    font-size: 10px;
                  }
                  &.fa-list-ul{}
                }
              }
            }

            .lists{
              ul {
                font-size: 1.1rem;
                padding-top: 5px;
                width: 100%;
                li{
                  padding: 14px;
                  color: #8a838e;
                  &:hover{
                    background: #ededed;
                    cursor: pointer;
                  }
                }
              }
            }

          }
        }
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .listings-page {
    .container {
      background: green;
      .movie-card {
        &:nth-child(1){

        }
      }
    }
  }
}

@media only screen and (max-width: 1205px ){
  .listings-page {
    .container {
      background: teal;
      .movie-card {
        &:nth-child(1){

        }
      }
    }
  }
}

@media only screen and (min-width: 1205px ) {
  .listings-page {
    .container {
      max-width: 1800px;
      display: grid;
<<<<<<< HEAD
=======
      width: 90%;
>>>>>>> 73bc835fca32e8f1b15321791f5bde72fc544624
      justify-content: center;
      grid-gap: 15px;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto auto auto auto;

      .movie-card {
        width: 280px;
        background-position: center;
        background-size: cover;

        img {
          width: 100%;
          display: block;
          margin:0 auto;
        }
      }
    }
  }
}

.showList{
  // display: block;
  // visibility: visible !important;
  display: block !important;
  opacity: 1 !important;
  transform: translateX(0%) !important;
}
.hideList{
  // display: block;
  // visibility: hidden !important;
  display: none !important;
  opacity: 0 !important;
  transform: translateX(120%) !important;
}
