.listings-page{
  background: #1b102d;
  background: #0c0714;
  background: #ededed;
  padding-bottom: 30px;

  .top-text{
    padding: 130px 20px 0px;
    display: flex;
    margin-left: 320px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    h4{
      padding-top: 5px;
      font-weight: 400;
      font-size: 1.3rem;
      color: #fff;
      color: #0c0714;
    }
    a{
      font-weight: 400;
      padding: 12px 15px;
      background: #777777;
      background: orange;
      border-radius: 2px;
      text-transform: capitalize;
      text-decoration: none;
      font-size: 1rem;
      color: #fff;

      &:hover{
        .fas{
          transform: translateX(5px);
        }
      }

      .fas {
        transition: all .3s ease-in-out;
        margin-left: 10px;
      }
    }
  }
  .container{
    background: #0c0714;
    background: #ededed;
    margin: 0 auto;
    padding: 70px 0 0;
    margin-left: 320px;
    display: flex;

    .movie-card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // transition: all .2s ease-out;
      &:hover{
        // background: #404040;
        border-radius: 8px;
        .text{
          color: #fff;
          color: #0c0714;
        }
      }
      img{
        // transition: all .3s ease-out;
        box-shadow: 1px 5px 16px 1px rgba(0,0,0,.2);
        border-radius: 8px;
        &:hover{
          cursor: pointer;
        }
      }
      .small-details{
        width: 92%;
        color: #0c0714;
        display: flex;
        // display: none;
        font-weight: 500;
        padding: 8px 0px 10px;
        align-items: center;
        justify-content: space-between;

        .text{
          display: flex;
          align-items: center;
          #title{
            font-size: .95rem;
          }
          #rating{
            font-size: .85rem;
            margin-right: 8px;
            height: 24px;
            width: 24px;
            border: 3px solid orange;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
          }
        }

        .save{
          display: flex;
          font-size: .8rem;

          p{
            margin-left: 5px;
          }
          .wrap.a{
            position: relative;
            margin-right: 5px;
            color: #fff;
            transition: all .3s #939393;
            &:hover{
              cursor: pointer;
            }
            .fas{

              &.fa-plus{
                font-size: 15px;
                transition: all .5s ease-out;
                color: #0c0714;
                &:hover{
                  transform: scale(1.2);
                  color: #26163f;
                }
              }
            }
          }
          .playlist{
            // visibility: hidden;
            display: none;
            opacity: .5;
            margin-left: 30px;
            position: absolute;
            width: 240px;
            background: #fff;
            border-radius: 8px;
            text-align: left;
            text-transform: capitalize;
            transition: all .5s ease-in-out;
            transform: translateX(120%);

            .close-btn{
              position: absolute;
              background: #fff;
              height: 13px;
              width: 13px;
              border-radius: 50%;
              right: -5px;
              top: -5px;
              &:hover{
                cursor: pointer;
              }
              .fa-times-circle{
                color: #434343;
                font-size: 1.2rem;
                line-height: 15px;
                transform: translate(-3%,-1%);
              }
            }

            .button{
              padding: 5px 0;
              display: flex;
              justify-content: baseline;
              align-items: center;
              background: #9768a8;
              border-radius: 8px 0 0 0;
              .create-btn{
                color: #fff;
                font-size: 1.1rem;
              }
              .wrap.b{
                padding: 8px;
                position: relative;
                text-align: left;
                margin-right: 5px;
                color: #a7a7a7;
                color: #fff;
                &:hover{
                  cursor: pointer;
                }
                .fas{
                  &.fa-plus{
                    text-shadow: -2px -1px  0px #9768a8;
                    position: absolute;
                    z-index: 20;
                    left: 17px;
                    top: 12px;
                    font-size: 10px;
                  }
                  &.fa-list-ul{}
                }
              }
            }

            .lists{
              ul {
                font-size: 1.1rem;
                padding-top: 5px;
                width: 100%;
                li{
                  padding: 14px;
                  color: #8a838e;
                  &:hover{
                    background: #ededed;
                    cursor: pointer;
                  }
                }
              }
            }

          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1081px ) {
  .listings-page{
    .top-text{
      // margin-left: 0;
    }
    .container{
      padding-top: 20px;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 340px 340px;
      justify-content: center;
      align-items: center;
      // margin-left: 0;

      .movie-card{
        margin-bottom: 8px;
        img{
          width: 320px;
          height: 470px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1491px ) {
  .listings-page{
    .top-text{
      // margin-left: 0;
    }
    .container{
      padding-top: 20px;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto auto auto auto;
      justify-content: center;
      align-items: center;
      // margin-left: 0;

      .movie-card{
        margin-bottom: 8px;
        img{
          width: 280px;
          height: 440px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px ) {
  .listings-page{
    .top-text{
      margin-left: 0;
    }
    .container{
      width: 100%;
      margin: 0 auto;
      padding-top: 20px;
      display: grid;
      grid-gap: 8px;
      grid-template-columns: repeat(3, 260px);
      justify-content: center;
      align-items: center;
      margin-left: 0;

      .movie-card{
        margin: 0;
        margin-bottom: 8px;
        img{
          width: 250px;
          height: 390px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px ) {
  .listings-page{
    .top-text{
      margin-left: 0;
    }
    .container{
      padding-top: 20px;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto auto;
      justify-content: center;
      align-items: center;
      margin-left: 0;

      .movie-card{
        // width: 350px;
        // height: 480px;
        margin-bottom: 8px;
        img{
          width: 320px;
          height: 480px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px ) {
  .listings-page{
    .top-text{
      margin-left: 0;

    }
    .container{
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0;
      .movie-card{
        // width: 350px;
        // height: 480px;
        margin-bottom: 8px;
        img{
          width: 350px;
          height: 530px;
        }
      }
    }
  }
}

// .showList{
//   display: block !important;
//   opacity: 1 !important;
//   transform: translateX(0%) !important;
// }
// .hideList{
//   display: none !important;
//   opacity: 0 !important;
//   transform: translateX(120%) !important;
// }
